/* imports */
@import url('../libraries/pico/pico.classless.min.css');
@import url('../libraries/tailwind/tailwind-mod.min.css');
@import url('../libraries/font-awesome/css/all.min.css');

/* editor */
.cm-editor {
  height: 100%;
}
.ͼ1.cm-focused {
  outline: none;
}
[data-theme=light] .ͼ2 .cm-activeLine {
  background-color: hsla(200, 100%, 65%, 0.267);
}
[data-theme=dark] .ͼ2 .cm-activeLine {
  background-color: hsla(200, 100%, 90%, 0.267);
}
.ͼ2 .cm-gutters {
  border-right-color: hsla(200, 100%, 90%, 0.267);
  background: transparent;
}
.ͼ2 .cm-activeLineGutter {
  background: #cceeff2e;
}
.ͼ1 .cm-panel.cm-search [name=close] {
  display: inline-block;
  width: auto;
  border-radius: 999999rem;
  color: inherit;
  font-size: 2rem;
  font-weight: 400;
  padding: .2rem .75rem;
}

/* canvas/preview */
[data-canvas] {
  background-color: hsl(0, 0%, 100%);
}
[data-canvas] iframe {
  width: 100%;
  height: 100%;
  border: 0;
}